{% extends 'base.html'%}
{% block content%}
{% for pitch in pitches%}
<div class="row">
    <div class="col-md-2 col-lg-3 col-xs-1"></div>
    <div class="col-md-8 col-lg-6 col-xs-10 jumbotron">
        <div class="card mb-6 bg-dark text-white">
            <div class="card-body">
              <h4 class="card-title"> <span class="label label-default">Pitch Category: {{pitch.pitch_category}}</span> <span></span><span class="label label-success">Posted By: {{pitch.user.username}}</span></h4>
              <p class="card-text">{{pitch.pitch}}</p>
              <p class="card-text"><small class="text-muted">Posted At: <span class="badge badge-secondary">{{pitch.posted.strftime('%Y-%m-%d')}}</span><span></span>Likes:<span class="badge badge-success">{{pitch.upvotes}}</span><span></span>Dislikes:<span class="badeg badge-danger">{{pitch.downvotes}}</span></small></p>
            </div>
            <a href="{{url_for('main.comment',pname=pitch.id)}}"><button class="btn btn-secondary">Comment</button></a> <span><span><a href="{{upvote}}"><button class="btn btn-success">Like</button></a></span> <span><a href="{{downvote}}"><button class="btn btn-danger">Dislike</button></a></span></span>
        </div>
        <div class="row">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="link" aria-expanded="false" aria-controls="collapseExample">
                View Comments
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            {% for comment in comments%}
                            <div class="col-md-2 col-sm-3">
                                {{comment.pitch.user.username}}  
                            </div>
                            <div class="col-md-8 col-sm-9">
                                {{comment.comment}}
                            </div>  
                            <hr style="border-width: 2px;"> 
                            {% endfor%} 
                        </li>
                        <hr>
                    </ul>
                </div>
            </div>  
        </div>
    </div>
    <div class="col-md-2 col-lg-3 col-xs-1"></div>
</div>
{%endfor%}
{% endblock %}